.key-attributes{
    display: flex;
    justify-content: left;
}

.key-container{
    margin-top: 10px;
}

.private-key--block{
    display: flex;
    justify-content: space-between;
}

.private-key{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

