.NavStyle__mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    cursor: pointer;
  }
  
  body{
    margin: 0 0 55px 0;
  }

  .nav__mobile__bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 136, 169, 1);
    overflow-x: auto;
    display: flex;
  }

  .nav__mobilelink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease 0s;
  }

  .nav__mobilelink:hover{
    color: rgba(0, 136, 169, 1);
  }