.HorizontalLayout{
    display: flex;
    margin-bottom: 1%;
    justify-content: space-around;
}

.Fullwidth{
    width:100%;
}

.PWGenCheckbox{
    margin-right: 10%;
}

h3{
    text-align: center
}

#main{
    color: #edf0f1;
    border: 1.5px solid #edf0f1;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    transition: all 0.3s ease 0s;
}

#main:hover{
    color: #0088a9;
}


/*
*/