.HorizontalLayout{
    display: flex;
    margin-bottom: 1%;
    justify-content: space-around;
}

.Fullwidth{
    width:100%;
}

.PWGenCheckbox{
    margin-right: 10%;
}

h3{
    text-align: center
}
