.passcontainer{
    margin-top: 10px;
}

.passcontainer--block{
    display: flex;
    justify-content: space-between;
}

.passcontainer-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#passcontainerShowButton{
    margin: 0px 3px 0px 3px;
}

