@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  background-color: #24242a;
}

li,a,button,.LinkItems,textarea,input{
  font-family: "Varela",sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.ButtonImage{
  background-color: rgba(0, 136, 169, 1);
  transition: all 0.3s ease 0s;
  border-radius: 50px;
}

.ButtonImage:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

.Tools {  
  align-items: center;
  padding: 30px 10%;
}
